html,
body,
#root,
.App {
  background-color: #D7E8F5;
  height: 100%;
}

#header-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
}

p {
  margin: 2px;
  padding: 2px;
}

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Allan', cursive;
  color: #4D4A75;
}

.App-form {
  background-color: #ffc876;
  box-shadow: 8px 8px 10px #4d4a75;
  border-radius: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size:1.3em;
}

.App-form > p {
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 5px;
  align-self: baseline;
}


#input-title {
  text-align: center;
}

input,
textarea {
  min-width: 100%;
  margin: 10px;
  height: 50px;
  font-family:'Source Sans Pro', sans-serif;
  border: none;
  resize:none;
}

.horizontal-button-pair {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

button {
  font-family: 'Quicksand', sans-serif;
  background-color: #e2e8e9;
  border-radius: 5px 5px 5px 5px;
  margin: 6%;
  font-size: .8em;
  border: 0px;
}

#add {
  position: fixed;
  left: 2%;
  top: 1%;
  align-self: baseline;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #272559;
  font-family: 'Quicksand', sans-serif;
  color: #4D4A75;
  font-size: 2em;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 3px;
  box-shadow: 1px 1px 4px grey;
  border: none;
  z-index: 1;
}

#add:hover {
  cursor: pointer;
}

.grid-card-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  width: 100%;
  padding:2%;
}

.grid-card-container span {
  padding: 2%;
}

#scroll {
  overflow-y: auto;
  text-align:left;
}

.App-link {
  color: #c9dff2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toDo {
  background-color: whitesmoke;
  color: #00040d;
  border-radius: 5%;
  box-shadow: 2px 2px 10px #4d4a75;
  font-size: large;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

#faTrash {
  display: block;
  float: right;
  height: 2.2vh;
}

#faTrash:hover {
  display: block;
  float: right;
  height: 2.2vh;
  color: #40689c;
}

#faPencilAlt {
  display: block;
  float: right;
  height: 8vmin;
  position: absolute;
  top: 135px;
  left: 16px;
}

#faPencilAlt:hover {
  color:#c8a672;
}


#faCircle {
  display: block;
  float: left;
  height: 2.2vh;
}

#faCircle:hover {
  color: #4e7026;
  cursor: pointer;
}

#faCheckCircle {
  display: block;
  float: left;
  height: 2.2vh;
  color: #4e7026;
}

#faCheckCircle:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon:hover {
  color: #4e7026;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  #header-title {
    font-size:1.5em;
  }

  #add {
    left: 0%;
    top: 0%;
  }
}

