html,
body,
#root,
.App {
  height: 100%;
}

h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
}

p {
  margin: 2px;
  padding: 2px;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #272559;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f2b705;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Permanent Marker", cursive;
  color: #272559;
}

.App-form {
  background-color: #272559;
  box-shadow: 10px 10px 5px black;
  border-radius: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-form > p {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  align-self: baseline;
}

input,
textarea {
  min-width: 33%;
  margin: 10px;
}

button {
  font-family: "Permanent Marker", cursive;
  background-color: #f2b705;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -1px 0 8px -5px #000000;
  font-size: 14px;
}

#cancel {
  color: red;
}

#add {
  position: fixed;
  align-self: baseline;
  border-radius: 100%;
  margin: 10px;
  background-color: white;
  border: 3px solid #272559;
  font-family: regular monospace;
  color: #272559;
  font-size: 40px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 3px;
}

#add:hover {
  cursor: pointer;
}

.App-link {
  color: #c9dff2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toDo {
  background-color: whitesmoke;
  color: #00040d;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;
  font-size: large;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

#faTrash {
  display: block;
  float: right;
  height: 2.2vh;
}

#faPencilAlt {
  display: block;
  float: right;
  height: 8vmin;
  position: absolute;
  top: 140px;
  left: 16px;
}

#faCircle {
  display: block;
  float: left;
  height: 2.2vh;
}

#faCircle:hover {
  color: #27a147;
  cursor: pointer;
}

#faCheckCircle {
  display: block;
  float: left;
  height: 2.2vh;
  color: #27a147;
}

#faCheckCircle:hover {
  cursor: pointer;
}

.flex {
  background-color: #272559;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon:hover {
  color: #f2b705;
  cursor: pointer;
}

.scroll {
  overflow-y: auto;
  height: 90%;
}
