html,
body,
#root,
.App {
  background-color: #D7E8F5;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#header-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
  font-weight: 300;
}

p {
  margin: 2px;
  padding: 2px;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}

.App-form {
  background-color: #ffc876;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 1.3em;
}

.App-form>p {
  color: black;
  margin: 5px;
  align-self: baseline;
  font-size: 14px;
}


#input-title {
  text-align: center;
}

input,
textarea {
  min-width: 100%;
  margin: 10px;
  height: 50px;
  border: none;
  resize: none;
}

.horizontal-button-pair {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.horizontal-button-pair button {
  transition-duration: 0.4s;
}

.horizontal-button-pair button:hover {
  background-color: #B2AAF2;
  color: white;
}

button {
  background-color: #e2e8e9;
  border-radius: 5px 5px 5px 5px;
  margin: 6%;
  padding: 5px 20px;
  font-size: 14px;
  border: 0px;
}

#add {
  position: fixed;
  left: 2%;
  top: 1%;
  align-self: baseline;
  border-radius: 100%;
  background-color: #F29F05;
  border: 1px solid #272559;
  color: white;
  font-size: 2em;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 3px;
  border: none;
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;
}

#add:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.grid-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 2%;
}

.grid-card-container span {
  padding: 0%;
}

#scroll {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: inherit;
}

.App-link {
  color: #c9dff2;
}

.toDo {
  background-color: whitesmoke;
  color: #00040d;
  border-radius: 5%;
  box-shadow: 2px 2px 10px #4d4a75;
  flex-wrap: wrap;
  height: clamp(200px, 150px, 150px);
  width: clamp(150px, 150px, 150px);
  padding: 20px;
  margin: 20px;
  position: relative;
}

#faTrash {
  display: block;
  float: right;
  height: 2.2vh;
}

#faTrash:hover {
  display: block;
  float: right;
  height: 2.2vh;
  color: #B2AAF2;
}

#faPencilAlt {
  height: 8vmin;
  position: inherit;
  top: 20%;
  left: 0px;
}

#faPencilAlt:hover {
  color: #B2AAF2;
}


#faCircle {
  display: block;
  float: left;
  height: 2.2vh;
}

#faCircle:hover {
  color: #4e7026;
  cursor: pointer;
}

#faCheckCircle {
  display: block;
  float: left;
  height: 2.2vh;
  color: #4e7026;
}

#faCheckCircle:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  bottom: clamp(3.5em, 1em, 3.5em)
}

.icon:hover {
  color: #4e7026;
  cursor: pointer;
}

/* tablet */

@media only screen and (max-width: 850px) {
  button:hover {
    background-color: none;
    color: black;
  }

  #add:hover {
    box-shadow: 0;
  }

  button {
    transition: all .2s ease-in-out;
  }

  button:active {
    transform: scale(1.1);
    transition: .1s;
  }

  .horizontal-button-pair button {
    transition: all .2s ease-in-out;
  }

  .horizontal-button-pair button:active {
    transform: scale(1.1);
    transition: .1s;
  }
}

/* mobile */
@media only screen and (max-width: 550px) {
  .App-header {
    font-size: 16px;
  }

  #faPencilAlt {
    top: 40%;
  }
}